@page
@model VT_Lab1.Areas.Admin.Pages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tile</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tile.TileName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tile.TileName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tile.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tile.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tile.Size)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tile.Size)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tile.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tile.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tile.Group)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tile.Group.TileGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Tile.TileId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
